---
import Base from "../../layouts/Base.astro";
---
<Base title="About">
  <h1>About</h1>
  <p>How this system is built and why.</p>
</Base>
<p style="opacity:.7;">
  Latest truth lives in the <a href="/logbook">Logbook</a>.
</p>
