---
import Base from "../../layouts/Base.astro";
import { projects } from "../../lib/projects";
import ProjectList from "../../components/ProjectList.astro";

const work = projects.filter(p => p.type === "work");
---

<Base title="Work">
  <h1>Work</h1>
  <p style="opacity:.8;">Shipped and presentable builds.</p>
  <ProjectList title="Work projects" items={work} />
</Base>
