---
import Base from "../../layouts/Base.astro";
import { projects } from "../../lib/projects";
import ProjectList from "../../components/ProjectList.astro";

const labs = projects.filter(p => p.type === "labs");
---

<Base title="Labs">
  <h1>Labs</h1>
  <p style="opacity:.8;">Experiments. Some graduate. Some don’t.</p>
  <ProjectList title="Lab projects" items={labs} />
</Base>
